body {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    min-height: 90vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card{

    width: 10%;
    height: 300px;
    margin: 10px;
    padding: 10px 20px;
    background-color: papayawhip;
    position: relative;
    overflow: auto;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
    color: #888888;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.creation-time{
  position: absolute;
  top: 5px;
  left: 5px;
  color: #000;
  font-size: 12px;
}

.delete:hover,
.delete:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.search-input{
  height: 5%;
  width: 80%;
  font-size: 25px;
  padding: 0.5rem;
}
.add-button{
    float: right;
    background-color: seagreen;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 8%;
    height: 5%;
    font-size: large;
    margin: 5px;
}

.add-button:hover {
    opacity: 0.9;
}

.add-button:focus {
    outline: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;

    max-width: 300px;
  }

  .close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .form-row{
    margin-top: 20px;
  }

  .tag-span{
    background-color: royalblue;
    color: #fff;
    border: none;
    margin:3px;
    padding: 3px 5px;
  }

  .tag-removable{
    cursor: pointer;
  }

  .tags-container{
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }